h1{
           text-align:center
       }
    .button {
    background-color: #008CBA; /* Green */
    width: 32.3%;
   height: 80px;
   font-size:1.4em;
}
    .buttonWrap{
        width: 95%;
   margin: 40px auto;
       }
       .result{
           width:50%;
           margin-left: auto;
    margin-right: auto;
    text-align:center;
    font-size:20px;
       }
